*.tlog
*.cache
*.obj
*.sdf
*.suo
*.pdb
*.lastbuildstate
*.ipch
*.deps
*.idb
*.o
*.opensdf
*.log
*.wysiwygLastLoadedFile
*.lic
*.pro.user



\.DS_Store
qt_build_details/
project/desktopui/build
project/renderengine/build
